<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <title>Solvencia</title>
  {{Html::style('assets/plugins/bootstrap-3.3.7/css/bootstrap.min.css')}}
  {{Html::style('assets/plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css')}}
  <style>
    body{
      font-family: arial;
      color: #000;
    }
    h1,h2,h3,h4,h5,h6{
      text-transform: uppercase;
    }
    p{
      margin-left: 40px;
      margin-right: 40px;
      font-size: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
  <p class="text-left">
  Universidad de los Andes. <br>
  Facultad de Ingenieria. <br>
  Escuela de Sistemas. <br>
  Departamento de Computación. <br>
  Laboratorio de Computación “Nikolaus Walczuch”. <br>
  Mérida, Estado Mérida. <br>
  </p>
  <br><br><br><br><br><br>
    <h2 class="text-center">Solvencia</h2>
    <br><br><br>
    <p class="text-justify">
      Quien suscribe, Coordinador del Laboratorio de Computación “Nikolaus Walczuch”, de la Escuela de Ingeniería de Sistemas de la Universidad de Los Andes, hace constar por medio de la presente que el Br. FIDES GERARDO ESCALONA MOLINA, portador de la cédula de identidad No. V-20.434.874, se encuentra solvente con dicho Laboratorio.
    </p>
    <p class="text-justify">
      Constancia que se expide a solicitud de la parte interesada en la Ciudad de Mérida el día dieciocho del mes de Mayo del año dos mil dieciséis.
    </p>
    <p class="text-center">
      Ing. Alejandro Mujica <br>
      C.I. V-15.448.475 <br>
      Coordinador del Laboratorio <br>
    </p>
  </div>
</div>


<!-- Latest compiled and minified JavaScript -->
  {{Html::script('assets/plugins/jquery-2.2.3.min.js')}}
  {{Html::script('assets/plugins/bootstrap-3.3.7/js/bootstrap.min.js')}}

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>